# Set default behaviour, in case users don't have core.autocrlf set.
*           text    eol=lf
*.tex       text    eol=lf
*.bat       text    eol=crlf

*.pdf       binary
*.zip       binary
*.tar.gz    binary

*.jpg       binary
*.png       binary
*.eps       binary
